In [1]:
import pandas as pd
import tqdm

In [2]:
metadata_path = './data/abo-images-small/images/metadata/images.csv.gz'
listings_path = './data/abo-listings/listings/metadata/'

In [3]:
metadata_df = pd.read_csv(metadata_path, compression='gzip')

In [4]:
metadata_df.head()

      image_id  height  width             path
0  010-mllS7JL     106    106  14/14fe8812.jpg
1  01dkn0Gyx0L     122    122  da/daab0cad.jpg
2  01sUPg0387L     111    111  d2/d2daaae9.jpg
3  1168jc-5r1L     186    186  3a/3a4e88e6.jpg
4  11RUV5Fs65L      30    500  d9/d91ab9cf.jpg

In [5]:
listings_df = pd.DataFrame()

df_list = []
for i in tqdm.tqdm(range(10)):
    df_list.append(pd.read_json(f'{listings_path}listings_{i}.json.gz', lines=True, compression='gzip'))

for i in tqdm.tqdm(['a', 'b', 'c', 'd', 'e', 'f']):
    df_list.append(pd.read_json(f'{listings_path}listings_{i}.json.gz', lines=True, compression='gzip'))

listings_df = pd.concat(df_list)

100%|██████████| 10/10 [00:15<00:00,  1.58s/it]
100%|██████████| 6/6 [00:10<00:00,  1.81s/it]

In [6]:
listings_df.head()

,brand,bullet_point,color,item_id,item_name,model_name,model_number,model_year,product_type,style,...,item_weight,material,fabric_type,color_code,product_description,spin_id,3dmodel_id,pattern,finish_type,item_shape
0,"[{'language_tag': 'nl_NL', 'value': 'find.'}]","[{'language_tag': 'nl_NL', 'value': 'Schoen in...","[{'language_tag': 'nl_NL', 'value': 'Veelkleur...",B06X9STHNG,"[{'language_tag': 'nl_NL', 'value': 'Amazon-me...","[{'language_tag': 'nl_NL', 'value': '37753'}]",[{'value': '12-05-04'}],[{'value': 2017}],[{'value': 'SHOES'}],"[{'language_tag': 'nl_NL', 'value': 'Gesloten-...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,"[{'language_tag': 'es_MX', 'value': 'AmazonBas...","[{'language_tag': 'es_MX', 'value': 'White Pow...","[{'language_tag': 'es_MX', 'value': 'White Pow...",B07P8ML82R,"[{'language_tag': 'es_MX', 'value': '22"" Botto...",NaN,[{'value': 'AB5013-R22-10'}],NaN,[{'value': 'HARDWARE'}],"[{'language_tag': 'es_MX', 'value': '10 pares'}]",...,"[{'normalized_value': {'unit': 'pounds', 'valu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,"[{'language_tag': 'en_AE', 'value': 'AmazonBas...","[{'language_tag': 'en_AE', 'value': '3D printe...","[{'language_tag': 'en_AE', 'value': 'Transluce...",B07H9GMYXS,"[{'language_tag': 'en_AE', 'value': 'AmazonBas...",NaN,[{'value': 'AMG10528516-10'}],NaN,[{'value': 'MECHANICAL_COMPONENTS'}],"[{'language_tag': 'en_AE', 'value': '1-Pack'}]",...,"[{'normalized_value': {'unit': 'pounds', 'valu...","[{'language_tag': 'en_AE', 'value': 'PETG (Pol...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,"[{'language_tag': 'en_GB', 'value': 'Stone & B...",NaN,"[{'language_tag': 'en_GB', 'value': 'Stone Bro...",B07CTPR73M,"[{'language_tag': 'en_GB', 'value': 'Stone & B...",NaN,[{'value': '25020039-01'}],NaN,[{'value': 'SOFA'}],NaN,...,"[{'normalized_value': {'unit': 'pounds', 'valu...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"[{'language_tag': 'en_AU', 'value': 'The Fix'}]","[{'language_tag': 'en_AU', 'value': 'Embroider...","[{'language_tag': 'en_AU', 'standardized_value...",B01MTEI8M6,"[{'language_tag': 'en_AU', 'value': 'The Fix A...",NaN,[{'value': '880071Havana Tan'}],[{'value': 2017}],[{'value': 'SHOES'}],"[{'language_tag': 'en_AU', 'value': 'French Lo...",...,"[{'normalized_value': {'unit': 'pounds', 'valu...",NaN,"[{'language_tag': 'en_AU', 'value': 'Suede'}]",[#A67B5B],NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
listings_df.columns

Index(['brand', 'bullet_point', 'color', 'item_id', 'item_name', 'model_name',
       'model_number', 'model_year', 'product_type', 'style', 'main_image_id',
       'other_image_id', 'item_keywords', 'country', 'marketplace',
       'domain_name', 'node', 'item_dimensions', 'item_weight', 'material',
       'fabric_type', 'color_code', 'product_description', 'spin_id',
       '3dmodel_id', 'pattern', 'finish_type', 'item_shape'],
      dtype='object')

In [8]:
merged_df = listings_df.drop_duplicates(subset= 'main_image_id').merge(metadata_df, left_on= 'main_image_id', right_on='image_id')

In [9]:
merged_df['node']

0         [{'node_id': 16391787031, 'node_name': '/Categ...
1         [{'node_id': 9827962011, 'node_name': '/Catego...
2         [{'node_id': 11601270031, 'node_name': '/Categ...
3         [{'node_id': 2850919031, 'node_name': '/Home &...
4         [{'node_id': 5131142051, 'node_name': '/Catego...
                                ...
123506    [{'node_id': 12538061031, 'node_name': '/Categ...
123507    [{'node_id': 12538061031, 'node_name': '/Categ...
123508    [{'node_id': 3578790031, 'node_name': '/Catego...
123509    [{'node_id': 12710103031, 'node_name': '/Categ...
123510    [{'node_id': 9721682011, 'node_name': '/Catego...
Name: node, Length: 123511, dtype: object

In [10]:
merged_df.columns

Index(['brand', 'bullet_point', 'color', 'item_id', 'item_name', 'model_name',
       'model_number', 'model_year', 'product_type', 'style', 'main_image_id',
       'other_image_id', 'item_keywords', 'country', 'marketplace',
       'domain_name', 'node', 'item_dimensions', 'item_weight', 'material',
       'fabric_type', 'color_code', 'product_description', 'spin_id',
       '3dmodel_id', 'pattern', 'finish_type', 'item_shape', 'image_id',
       'height', 'width', 'path'],
      dtype='object')

In [11]:
# drop unnecessary columns

filtered_df = merged_df[['item_name', 'country', 'node', 'path']]

In [12]:
# filter out any non US products

filtered_df = filtered_df[filtered_df['country'] == 'US']

In [13]:
# remove unnecessary metadata and store only string value title and categories

def extract_node_name(nodes):
    try:
        if nodes and isinstance(nodes, list):  # Check if 'nodes' is not None or empty, and is a list
            if isinstance(nodes[0], dict) and 'node_name' in nodes[0]:  # Check if the first item is a dictionary and has 'node_name'
                return nodes[0]['node_name']
    except Exception as e:
        print(f"Error: {e}")  # Print any exceptions that occur to help with debugging
    return pd.NA  # Return None if any conditions fail

def get_en_us_name(item_names):
    for item in item_names:
        if item['language_tag'] == 'en_US':
            return item['value']
    return pd.NA  # Return None  if 'en_US' is not found

filtered_df['node_name'] = filtered_df['node'].apply(extract_node_name)
filtered_df['product_name'] = filtered_df['item_name'].apply(get_en_us_name)
filtered_df = filtered_df.dropna()

filtered_df['categories'] = filtered_df['node_name'].str.split('/').apply(lambda x: [item for item in x if item]) 

# Remove rows where 'node_name' is either None or an empty string
# filtered_df = filtered_df[filtered_df['node_name'].notna() & (filtered_df['node_name'] != '')]

In [14]:
filtered_df.tail()

,item_name,country,node,path,node_name,product_name,categories
123451,"[{'language_tag': 'zh_CN', 'value': 'Happy Bel...",US,"[{'node_id': 6502787011, 'node_name': '/Catego...",b2/b2a1266b.jpg,"/Categories/Pantry Staples/Sauces, Gravies & M...",Amazon Brand - Happy Belly Low Sodium Marinara...,"[Categories, Pantry Staples, Sauces, Gravies &..."
123452,"[{'language_tag': 'ko_KR', 'value': 'Urban Liv...",US,"[{'node_id': 553798, 'node_name': '/Categories...",fc/fcce75c2.jpg,"/Categories/Gardening & Lawn Care/Pots, Plante...",Amazon Brand – Rivet Mid-Century Ceramic Plant...,"[Categories, Gardening & Lawn Care, Pots, Plan..."
123460,"[{'language_tag': 'en_US', 'value': 'Amazon Me...",US,"[{'node_id': 15709227011, 'node_name': '/Categ...",4d/4d1ed185.jpg,/Categories/Fresh Meal Kits,"Amazon Meal Kits, Massaman Chicken Curry with ...","[Categories, Fresh Meal Kits]"
123478,"[{'language_tag': 'zh_CN', 'value': 'otterbox ...",US,"[{'node_id': 3081461011, 'node_name': '/Catego...",9f/9fbb40bb.jpg,"/Categories/Cases, Holsters & Sleeves/Basic Cases",Otterbox Defender Series Case for iPhone 6 and...,"[Categories, Cases, Holsters & Sleeves, Basic ..."
123487,"[{'language_tag': 'zh_CN', 'value': 'AmazonBas...",US,"[{'node_id': 2314207011, 'node_name': '/Catego...",df/df9fef26.jpg,/Categories/Light Bulbs/LED Bulbs,"AmazonBasics Commercial Grade 25,000 Hour LED ...","[Categories, Light Bulbs, LED Bulbs]"

In [15]:
final_df = filtered_df[['product_name', 'categories', 'path']]

In [16]:
final_df.tail()

,product_name,categories,path
123451,Amazon Brand - Happy Belly Low Sodium Marinara...,"[Categories, Pantry Staples, Sauces, Gravies &...",b2/b2a1266b.jpg
123452,Amazon Brand – Rivet Mid-Century Ceramic Plant...,"[Categories, Gardening & Lawn Care, Pots, Plan...",fc/fcce75c2.jpg
123460,"Amazon Meal Kits, Massaman Chicken Curry with ...","[Categories, Fresh Meal Kits]",4d/4d1ed185.jpg
123478,Otterbox Defender Series Case for iPhone 6 and...,"[Categories, Cases, Holsters & Sleeves, Basic ...",9f/9fbb40bb.jpg
123487,"AmazonBasics Commercial Grade 25,000 Hour LED ...","[Categories, Light Bulbs, LED Bulbs]",df/df9fef26.jpg

In [19]:
final_df['categories'] = final_df['categories'].apply(lambda x: x[1:] if len(x) > 0 else pd.NA)

C:\Users\rohit\AppData\Local\Temp\ipykernel_21564\3102389055.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  final_df['categories'] = final_df['categories'].apply(lambda x: x[1:] if len(x) > 0 else pd.NA)

In [20]:
final_df = final_df.dropna()

In [21]:
final_df

,product_name,categories,path
7,AmazonBasics Serene 16-Piece Old Fashioned and...,"[Kitchen & Dining, Dining & Entertaining, Glas...",07/075e5d67.jpg
22,Arizona Desert Sand Horizon Photo with Wood Ha...,[Home Décor],c6/c6889ed4.jpg
38,AmazonBasics Adjustable Speaker Stand - 3.8 to...,"[Live Sound & Stage, Monitors, Speakers & Subw...",2b/2b90e918.jpg
39,Amazon Brand - The Fix Women's Foley Tassel Sl...,"[Women, Shops]",2c/2c0416de.jpg
40,AmazonBasics Eastlake Coolers Glass Drinkware ...,"[Kitchen & Dining, Dining & Entertaining, Glas...",ea/ea0c6da6.jpg
...,...,...,...
123451,Amazon Brand - Happy Belly Low Sodium Marinara...,"[Pantry Staples, Sauces, Gravies & Marinades, ...",b2/b2a1266b.jpg
123452,Amazon Brand – Rivet Mid-Century Ceramic Plant...,"[Gardening & Lawn Care, Pots, Planters & Conta...",fc/fcce75c2.jpg
123460,"Amazon Meal Kits, Massaman Chicken Curry with ...",[Fresh Meal Kits],4d/4d1ed185.jpg
123478,Otterbox Defender Series Case for iPhone 6 and...,"[Cases, Holsters & Sleeves, Basic Cases]",9f/9fbb40bb.jpg
123487,"AmazonBasics Commercial Grade 25,000 Hour LED ...","[Light Bulbs, LED Bulbs]",df/df9fef26.jpg

In [22]:
final_df['categories'].apply(len).max()

6

In [23]:
final_df['categories'] = final_df['categories'].apply(lambda x: x + ['NA'] * (6 - len(x)) if len(x) < 6 else x)

In [24]:
final_df.head()

,product_name,categories,path
7,AmazonBasics Serene 16-Piece Old Fashioned and...,"[Kitchen & Dining, Dining & Entertaining, Glas...",07/075e5d67.jpg
22,Arizona Desert Sand Horizon Photo with Wood Ha...,"[Home Décor, NA, NA, NA, NA, NA]",c6/c6889ed4.jpg
38,AmazonBasics Adjustable Speaker Stand - 3.8 to...,"[Live Sound & Stage, Monitors, Speakers & Subw...",2b/2b90e918.jpg
39,Amazon Brand - The Fix Women's Foley Tassel Sl...,"[Women, Shops, NA, NA, NA, NA]",2c/2c0416de.jpg
40,AmazonBasics Eastlake Coolers Glass Drinkware ...,"[Kitchen & Dining, Dining & Entertaining, Glas...",ea/ea0c6da6.jpg

In [25]:
final_df['categories'].apply(len).min()

6

In [26]:
final_df.to_csv('dataset/dataset.csv')